.wikiPageStyling {
  margin-left: 20px;
  font-family: sans-serif;
}

ul {
    list-style-type: none;
}

.spanstyle {
  color: #8a0000;
  background-color: #8ABB55;
}

.changeFont {
  font-family: cursive;
}

.changeSize {
  font-size: 30px;
}
